section.world {
  height: 50vw;
  background: black;
  position: relative;
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes skyfall {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }
  100% {
    transform: translate(120px, 120px) rotate(45deg);
  }
}

@keyframes fadeout {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes glowdie {
  0% {
    box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.5);
    transform: scale(1, 1);
  }
  90% {
    box-shadow: -3px -3px 8px 7px rgba(255, 255, 255, 0.5);
    transform: scale(3, 0.7);
  }
  100% {
    box-shadow: 0px 0px 8px 7px rgba(255, 255, 255, 0.5);
    transform: scale(3, 0.7);
  }
}

section.world .star {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 3px white;
  background: rgba(255, 255, 255, 0.8);
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

section.world .star::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
}

section.world .star.one {
  top: 20vh;
  left: 30vw;
  transform: scale(1.2, 1.2) rotate(45deg);
}

section.world .star.fallen {
  animation: 0.8s skyfall forwards, 0.8s fadeout forwards;
}

section.world .star.fallen::before {
  animation: 0.8s glowdie forwards;
}

section.world .moon {
  width: 4vw;
  height: 4vw;
  opacity: 0.9;
  background: white;
  position: absolute;
  border-radius: 50%;
  right: 10vw;
  left: auto;
  top: 5vw;
  transform: rotate(15deg);
}

section.world .moon::before {
  content: '';
  background: black;
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

section.world .tree {
  width: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  position: absolute;
}

section.world .tree.one {
  top: -35px;
  right: 50vw;
}

section.world .tree.two {
  top: -45px;
  right: 55vw;
}

section.world .tree span {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  border-top: 10px solid transparent;
  margin-bottom: -13px;
  transform: scale(0.6, 1);
}

section.world section {
  height: 100vh;
  overflow: hidden;
  background: #000900;
}

@keyframes float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0.3%);
  }
}

section.world .horizon {
  width: 100vw;
  height: 1px;
  bottom: 0;
  background: #0d220d;
  position: absolute;
  box-shadow: 0px 0px 700px 70px rgba(255, 255, 255, 0.25);
}

section.world .horizon.second {
  left: -100vw;
  animation-delay: 1s;
  box-shadow: inset 0px 0px 40px 20px rgba(0, 0, 0, 0.6);
}
