#container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

input[type="button"] {
    border-radius: 5px;
    color: black;
    border-color: black;
    width: 100%;
    font-weight: bold;
}

input[type="text"] {
    border-radius: 10px;
    text-align: right;
    width: 100%;
}