#container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

input[type="button"] {
    border-radius: 5px;
    background-color: blue;
    color: white;
    border-color: black;
    width: 100%;
}

input[type="text"] {
    /*border-radius: 10px;*/
    text-align: right;
    /*background-color: black;*/
    /*color: white;*/
    /*border-color: white;*/
    width: 100%
}