.container{
    display: flex;
    flex-direction: row;
}

.item{
    width: 200px;
    height: 200px;
}

.green{
    background-color: greenyellow;
}

.yellow{
    background-color: yellow;
}

.purple{
    background-color: purple;
}