:root {
    --wide: 70px;
    --font: 18px;
}

table, td {
    border: 1px solid black;
    font-size: 18px;
}

#container {
    margin: auto auto;
    width: 440px;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#startTable {
    text-align: center;
    font-size: var(--font);
    width: var(--wide);
}

#funcTable {
    text-align: center;
    font-size: var(--font);
    width: var(--wide);
}

#endTable {
    text-align: center;
    font-size: var(--font);
    width: var(--wide);
}