table, td {
    border: 1px solid black;
    font-size: 18px;
}

#container {
    margin: auto auto;
    width: 440px;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#funcTable {
    text-align: center;
    font-size: 18px;
}