.container{
    width: 800px;
    margin: auto auto;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-shrink: 0;
}

.item{
    flex-basis: 190px;
    height: 190px;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
    flex-grow: 2;
}

.purple{
    background-color: purple;
}